@font-face {
  font-family: 'Darinia';
  src: url('/assets/fonts/Darinia.ttf') format('truetype');
}

* {
  margin: 0;
  padding: 0;
  cursor: none;
}

canvas {
  cursor: url('/assets/ui/cursor.png') 0 0, none;
}

body {
  background-color: #000;
}
